In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

c:\Users\alias\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py:22: UserWarning: Pandas requires version '2.10.2' or newer of 'numexpr' (version '2.10.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
data = pd.read_csv("users.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   12            19000          0
1  15810944    Male   11            20000          0
2  15668575  Female    1            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   10            76000          0

In [4]:
data["Gender"].unique()

<ArrowStringArray>
['Male', 'Female']
Length: 2, dtype: str

In [5]:
data["Purchased"].unique()

array([0, 1])

In [6]:
x = data.columns.drop("Purchased")
y = data["Purchased"]

In [7]:
data_encoded = pd.get_dummies(data[x].astype(int))

ValueError: invalid literal for int() with base 10: 'Male'

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion="gini",random_state=1)

In [ ]:
dooing a train  test code